<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
        <title>Maison du Monde Alert</title>
    </head>
    <body>
        <div class = "container">
            <h1>Carpet Alert</h1>
                <p>You wanna get the brand new carpet of Maison du Monde before anyone else ? 
                    Enter your email to get the latest trend !</p>
            <form action="/form" method="POST" class="email">
            <div class ="email">
                <input class="email_input" type="text" name="email" placeholder="Your email">
                <button type="submit" class="add_button" value="submit">Send</button>
            </div>
            </form>
        </div>
    </body>
</html>